#Assignment 6 - Logistic Regression

## Binary Customer Churn

A company has a lot of  customers that use their service to produce ads for the customer websites. They've noticed that they have quite a bit of churn in clients. They basically randomly assign account managers right now, but want you to create a machine learning model that will help predict which customers will churn (stop buying their service) so that they can correctly assign the customers most at risk to churn an account manager. Luckily they have some historical data, can you help them out? Create a classification algorithm that will help classify whether or not a customer churned. 

The data is saved as historical_data.csv. Here are the fields and their definitions:

    Name : Name of the latest contact at Company
    Age: Customer Age
    Total_Purchase: Total Ads Purchased
    Account_Manager: Binary 0=No manager, 1= Account manager assigned
    Years: Totaly Years as a customer
    Num_sites: Number of websites that use the service.
    Onboard_date: Date that the name of the latest contact was onboarded
    Location: Client HQ Address
    Company: Name of Client Company
    
**NB:Create the model and evaluated it.**

In [1]:
#Step 1: Install Dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
!tar xf spark-3.3.0-bin-hadoop3.tgz
!pip install -q findspark

#Step 2: Add environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.3.0-bin-hadoop3"

#Step 3: Initialize Pyspark
import findspark
findspark.init()

#creating spark context
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext
sc

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('historical').getOrCreate()

#importing the logistic regression library
from pyspark.ml.classification import LogisticRegression

In [28]:
# Load training data
training = spark.read.csv('historical_data.csv',inferSchema=True,header=True)

#lr = LogisticRegression()

# Fit the model
#lrModel = lr.fit(training)

#showing the schema
training.printSchema()
training.show()

#trainingSummary = lrModel.summary

root
 |-- Names: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: integer (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

+-------------------+---+--------------+---------------+-----+---------+----------------+--------------------+--------------------+-----+
|              Names|Age|Total_Purchase|Account_Manager|Years|Num_Sites|    Onboard_date|            Location|             Company|Churn|
+-------------------+---+--------------+---------------+-----+---------+----------------+--------------------+--------------------+-----+
|   Cameron Williams| 42|       11066.8|              0| 7.22|        8|  8/30/2013 7:00|10265 Elizabeth M...|          Harvey LLC|    1|
|      Kevin Mueller| 41|      11916.22|              0|  6.5|       11|  8/13/2013 0:38|6157 Frank Garden...|          Wilson PLC|    1|
|        Eric Lozano| 38|      12884.75|              0| 6.67|       12|  6/29/2016 6:20|1331 Keith Court ...|Miller, Johnson a...|    1|
|      Phillip White| 42|       8010.76|              0| 6.71|       10| 4/22/2014 12:43|13120 Daniel Moun...|           Smith Inc|    1|
|     Cynthia Norton| 37|       9191.58|              0| 5.56|        9| 1/19/2016 15:31|765 Tricia Row Ka...|          Love-Jones|    1|
|   Jessica Williams| 48|      10356.02|              0| 5.12|        8|  3/3/2009 23:13|6187 Olson Mounta...|        Kelly-Warren|    1|
|        Eric Butler| 44|      11331.58|              1| 5.23|       11|  12/5/2016 3:35|4846 Savannah Roa...|   Reynolds-Sheppard|    1|
|      Zachary Walsh| 32|       9885.12|              1| 6.92|        9|  3/9/2006 14:50|25271 Roy Express...|          Singh-Cole|    1|
|        Ashlee Carr| 43|       14062.6|              1| 5.46|       11|  9/29/2011 5:47|3725 Caroline Str...|           Lopez PLC|    1|
|     Jennifer Lynch| 40|       8066.94|              1| 7.11|       11| 3/28/2006 15:42|363 Sandra Lodge ...|       Reed-Martinez|    1|
|       Paula Harris| 30|      11575.37|              1| 5.22|        8|11/13/2016 13:13|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|
|     Bruce Phillips| 45|       8771.02|              1| 6.64|       11| 5/28/2015 12:14|Unit 1895 Box 094...|    Figueroa-Maynard|    1|
|       Craig Garner| 45|       8988.67|              1| 4.84|       11|  2/16/2011 8:10|897 Kelley Overpa...|     Abbott-Thompson|    1|
|       Nicole Olson| 40|       8283.32|              1|  5.1|       13| 11/22/2012 5:35|11488 Weaver Cape...|Smith, Kim and Ma...|    1|
|     Harold Griffin| 41|       6569.87|              1|  4.3|       11|  3/28/2015 2:13|1774 Peter Row Ap...|Snyder, Lee and M...|    1|
|       James Wright| 38|      10494.82|              1| 6.81|       12|  7/22/2015 8:38|45408 David Path ...|      Sanders-Pierce|    1|
|      Doris Wilkins| 45|       8213.41|              1| 7.35|       11|   9/3/2006 6:13|28216 Wright Moun...|Andrews, Adams an...|    1|
|Katherine Carpenter| 43|      11226.88|              0| 8.08|       12| 10/22/2006 4:42|Unit 4948 Box 481...|Morgan, Phillips ...|    1|
|     Lindsay Martin| 53|       5515.09|              0| 6.85|        8|  10/7/2015 0:27|69203 Crosby Divi...|      Villanueva LLC|    1|
|        Kathy Curry| 46|        8046.4|              1| 5.69|        8| 11/6/2014 23:47|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|
+-------------------+---+--------------+---------------+-----+---------+----------------+--------------------+--------------------+-----+
only showing top 20 rows

In [34]:
training.select('Company').show(30)
#checking if there are companies that can be grouped together and discretized, but they're unique
#same problem with names, dates, and addresses

+--------------------+
|             Company|
+--------------------+
|          Harvey LLC|
|          Wilson PLC|
|Miller, Johnson a...|
|           Smith Inc|
|          Love-Jones|
|        Kelly-Warren|
|   Reynolds-Sheppard|
|          Singh-Cole|
|           Lopez PLC|
|       Reed-Martinez|
|Briggs, Lamb and ...|
|    Figueroa-Maynard|
|     Abbott-Thompson|
|Smith, Kim and Ma...|
|Snyder, Lee and M...|
|      Sanders-Pierce|
|Andrews, Adams an...|
|Morgan, Phillips ...|
|      Villanueva LLC|
|Berry, Orr and Ca...|
|       Parks-Bradley|
|           Olsen LLC|
|Clark, Campbell a...|
|          Dalton LLC|
|Thompson, Hansen ...|
|Yates, Martinez a...|
|       Reeves-Curtis|
|           Gates Ltd|
|     Dunlap and Sons|
|Taylor, Allen and...|
+--------------------+
only showing top 30 rows

In [9]:
training.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [12]:
#Columns selection 
my_cols = training.select([
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Churn'])

In [13]:
#feature engineering/data cleanup
my_final_data = my_cols.na.drop()

In [14]:
from pyspark.ml.feature import (VectorAssembler,VectorIndexer,
                                OneHotEncoder,StringIndexer)

assembler = VectorAssembler(inputCols=
['Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Churn'],outputCol='features')

In [16]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline

In [17]:
log_reg_historical = LogisticRegression(featuresCol='features',labelCol='Churn')

In [18]:
pipeline = Pipeline(stages=[assembler,log_reg_historical])

In [20]:
train_historical_data, test_historical_data = my_final_data.randomSplit([0.7,.3])
fit_model = pipeline.fit(train_historical_data)
results = fit_model.transform(test_historical_data)

In [22]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

my_eval = BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                       labelCol='Churn')

results.select('Churn','prediction').show()

+-----+----------+
|Churn|prediction|
+-----+----------+
|    1|       1.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    1|       1.0|
|    1|       1.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
|    0|       0.0|
+-----+----------+
only showing top 20 rows

In [23]:
AUC = my_eval.evaluate(results)
AUC

1.0